header .logo {
  display: flex;
  justify-content: center;
}
nav .navbar-nav {
  grid-gap: 25px;
  position: relative;
}
nav .navbar-nav .nav-item {
  position: relative;
  cursor: pointer;
  height: 45px;
  align-items: center;
  display: flex;
}
nav .navbar-nav .nav-item a {
  color: #000;
  font-size: 15px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 1px;
  padding: 0;
}
nav .navbar-nav .nav-item:hover a,
nav .navbar-nav .nav-item a.active {
  color: var(--primary-color);
}
nav .navbar-nav .nav-item:hover a::after,
nav .navbar-nav .nav-item a.active::after {
  width: 98%;
}
nav .navbar-nav .nav-item a::after {
  content: "";
  width: 0;
  height: 2px;
  background: var(--primary-color);
  left: 50%;
  bottom: 4px;
  position: absolute;
  transition: all 0.5s;
  transform: translateX(-50%);
  /* transform: scaleX(); */
}
nav .navbar-nav .sub-menu {
  position: absolute;
  top: 100%;
  height: 0px;
  left: 0;
  background: #fff;
  border-top: 4px solid var(--primary-color);
  z-index: 2;
  padding: 10px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}
nav .navbar-nav .nav-item:hover + .sub-menu {
  height: min-content;
  transition: all 0.5s;
  visibility: visible;
  opacity: 1;
  /* opacity: 1; */
}
form {
  grid-gap: 10px;
  align-items: center;
}
form .icon i {
  font-size: 28px;
  color: var(--primary-color);
}
form .icon i:hover {
  color: var(--primary-dark);
  transition: all 0.3s;
}
.sticky {
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
}
nav.sticky {
  transition: all 0.5s;
  top: 0;
  left: 0;
  box-shadow: 0px 0px 10px #ccc, 0px 0px 30px #ccc;
  background: #fff;
}
