<header>
    <section class="">
        <div class="logo">
            <img src="../../../../assets/header/logo.png" alt="">
        </div>
        <nav class="navbar navbar-expand-lg p-0" [class.sticky]="isSticky">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img class="rounded-circle" style="width: 30px;height: 30px;"
                        src="../../../../assets/header/logo.png" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">T</span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/high-jewellery" routerLinkActive="active"
                                aria-current="page">high jewellery</a>
                        </li>
                        <!-- <div class="sub-menu">
                            <div class="row">
                                <div class="col-md-12" *ngFor="let data of jewellery">
                                    <ul *ngFor="let c of data.rows">
                                        <li *ngFor="let x of c.cols">{{x}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div> -->
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/jewellery-collection" routerLinkActive="active"
                                aria-current="page">jewellery collections </a>
                        </li>
                        <!-- <div class="sub-menu">
                            <h1>submenu</h1>
                        </div> -->
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/engagement" routerLinkActive="active"
                                aria-current="page">engagement & bridal </a>
                        </li>
                        <!-- <div class="sub-menu">
                            <h1>submenu</h1>
                        </div> -->
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/watches" routerLinkActive="active"
                                aria-current="page">watches </a>
                        </li>
                        <!-- <div class="sub-menu">
                            <h1>submenu</h1>
                        </div> -->
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/house" routerLinkActive="active" aria-current="page">the
                                house </a>
                        </li>
                        <!-- <div class="sub-menu">
                            <h1>submenu</h1>
                        </div> -->

                    </ul>
                    <form class="d-flex">
                        <button class="btn p-btn" type="submit">STORE LOCATION</button>
                        <button class="btn s-btn" type="submit">SHOP</button>
                        <div class="icon">
                            <i class="bi bi-person-circle"></i>
                        </div>
                    </form>
                </div>
            </div>
        </nav>
    </section>
</header>