.breadcrumb {
  margin: 0;
}
.breadcrumb ol {
  margin: 15px;
}
.filters {
  margin: 25px 0px;
}
.filters .filter_by .head {
  display: flex;
  grid-gap: 10px;
  align-items: center;
  margin: 15px 0px;
}
.filters .filter_by .head h5 {
  text-transform: uppercase;
  margin: 0;
}
.filters .filter_by .head span {
  background: transparent;
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 0px 5px;
  font-size: 15px;
  text-transform: capitalize;
  color: #555;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.filters .filter_by .head span span {
  padding: 0;
  border: 0;
  font-size: 15px;
  color: red;
}
.filters .filter_by .options {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  grid-gap: 10px;
}
.filters .filter_by .options select {
  padding: 7px 5px;
  margin: 0px 5px;
  background: var(--primary-color);
  color: #fff;
  text-transform: capitalize;
  border-radius: 5px;
  border: 1px solid var(--primary-color);
  outline: none;
  width: -webkit-fill-available;
}
.filters .filter_by .options select option {
  background: #fff;
  color: #000;
  outline: none;
  border: 0;
}
.filters .sort_by .head {
  display: flex;
  grid-gap: 10px;
  align-items: center;
  margin: 15px 0px;
}
.filters .sort_by .head h5 {
  text-transform: uppercase;
  margin: 0;
}
.filters .sort_by .options {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  grid-gap: 10px;
}
.filters .sort_by .options select {
  padding: 7px 5px;
  margin: 0px 5px;
  background: #fff;
  color: #333;
  text-transform: capitalize;
  border-radius: 5px;
  border: 1px solid var(--primary-color);
  outline: none;
  width: -webkit-fill-available;
}
.filters .sort_by .options select option {
  background: #fff;
  color: #000;
  outline: none;
  border: 0;
}
product-card {
  width: fit-content;
  display: flex;
  align-items: center;
}
