/* .box {
  box-shadow: 0px 0px 10px #eee;
} */
.box .nav {
  width: 100%;
  justify-content: space-around;
  background: #ccc;
  padding: 25px 25px 0px 25px;
}
.box .nav .nav-item {
  display: flex;
  align-items: end;
}
.box .nav .nav-item .nav-link {
  border: 0;
  padding: 0;
  background: transparent;
  color: #000;
  border-bottom: 3px solid #ccc;
  text-transform: capitalize;
  font-size: 15px;
}
.box .nav .nav-item .nav-link.active {
  border-bottom: 3px solid var(--primary-bg);
  color: var(--primary-bg);
}
.box .tab-content {
  margin-top: 25px;
}
.box .tab-content .profile {
  padding: 25px;
  background: #eee;
}
.box .tab-content .profile .top {
  display: flex;
  grid-gap: 15px;
  padding-bottom: 25px;
  border-bottom: 2px solid #999;
}
.box .tab-content .profile .top .img img {
  width: 70px;
  border-radius: 50%;
  padding: 5px;
  background: #fff;
}
.box .tab-content .profile .top .title p:nth-child(1) {
  margin: 0;
  font-size: 18px;
  text-transform: capitalize;
}
.box .tab-content .profile .top .title p {
  margin: 0;
  font-size: 13px;
  font-weight: 300;
}
.box .tab-content .profile form {
  margin-top: 25px;
  text-transform: capitalize;
}
.box .tab-content .profile form .title {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 15px;
}
.box .tab-content .profile form > div > div {
  display: flex;
  flex-direction: column;
  margin: 15px 0px;
}
.box .tab-content .profile form > div > div input {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  outline: none;
  border: 0;
  background: transparent;
  border-bottom: 2px solid #999;
}
.box .tab-content .profile form > div > div input::placeholder {
  font-size: 13px;
  color: #999;
}
.box .tab-content .profile form > div > div label {
  font-size: 14px;
  color: #777;
}
/* .box .tab-content .profile form > div > div label ~ input:focus {
  transform: translateY(-20px);
}
.box .tab-content .profile form > div > div label ~ input:not(:focus) {
  transform: translateY(0px);
} */
.box .tab-content .profile form > div > div input:focus + label {
  color: var(--primary-bg);
}
.box .tab-content .profile form > div > div input:focus {
  border-bottom: 2px solid var(--primary-bg);
}
.box .tab-content .profile form > div .checkbox {
  display: flex;
  align-items: center;
  grid-gap: 10px;
  flex-direction: revert;
}
.box .tab-content .profile form > div .checkbox label {
  font-size: 18px;
}
.box .tab-content .profile form .submit button {
  color: #fff;
  background: var(--primary-bg);
  padding: 0.5rem 4rem;
  border-radius: 5px;
  text-transform: capitalize;
  font-weight: 500;
  border: 0;
  box-shadow: 0 0 10px #999;
  margin-top: 45px;
  width: -webkit-fill-available;
}
