<div class="container">
    <div class="heading">
        <div class="title">
            <h3 class="mx-auto mb-4 text-capitalize">dashboard</h3>
        </div>
    </div>
    <div class="box">
        <ul class="nav" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
                    role="tab" aria-controls="home" aria-selected="true">my profile</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
                    role="tab" aria-controls="profile" aria-selected="false">my address book</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button"
                    role="tab" aria-controls="contact" aria-selected="false">manage payments</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="contact-tab2" data-bs-toggle="tab" data-bs-target="#contact2" type="button"
                    role="tab" aria-controls="contact" aria-selected="false">change password</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="profile">
                    <div class="top">
                        <div class="img">
                            <img src="../../../assets/man.png" alt="">
                        </div>
                        <div class="title">
                            <p><strong>altaf shaikh</strong></p>
                            <p>swdsm100050@gmail.com</p>
                            <p>+91-9004865777</p>
                        </div>
                    </div>
                    <form action="">
                        <label for="" class="title">update your profile</label>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="">first name</label>
                                <input type="text" name="" id="">
                            </div>
                            <div class="col-md-6">
                                <label for="">last name</label>
                                <input type="text" name="" id="">
                            </div>
                            <div class="col-md-6">
                                <label for="">mobile number</label>
                                <input type="text" name="" id="">
                            </div>
                            <div class="col-md-6">
                                <label for="">e-mail id</label>
                                <input type="text" name="" id="">
                            </div>
                            <div class="col-md-6">
                                <label for="">date of birth</label>
                                <input type="date" name="" id="">
                            </div>
                            <div class="col-md-3 checkbox">
                                <input type="radio" name="gender" id="male">
                                <label for="male">male</label>
                            </div>
                            <div class="col-md-3 checkbox">
                                <input type="radio" name="gender" id="female">
                                <label for="female">female</label>
                            </div>
                        </div>
                        <div class="submit text-center">
                            <button type="submit">update profile</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="address">
                    <div class="head">
                        <h4>address</h4>
                        <a>add new address</a>
                    </div>
                    <div class="display-card">
                        <div class="title">
                            <h4>home</h4>
                            <a>edit address</a>
                        </div>
                        <div class="detail">
                            <div class="name">
                                <p>altaf shaikh</p>
                            </div>
                            <div class="phone">9876543210</div>
                            <div class="addrs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, eum
                                magni accusamus, veritatis asperiores velit consequatur distinctio ab earum, debitis
                                exercitationem laboriosam facere iste vero corrupti pariatur cupiditate. Distinctio,
                                nesciunt.</div>
                            <div class="remove-btn">remove address</div>
                        </div>
                    </div>
                    <div class="display-card">
                        <div class="title">
                            <h4>office</h4>
                            <a>edit address</a>
                        </div>
                        <div class="detail">
                            <div class="name">
                                <p>altaf shaikh</p>
                            </div>
                            <div class="phone">9876543210</div>
                            <div class="addrs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, eum
                                magni accusamus, veritatis asperiores velit consequatur distinctio ab earum, debitis
                                exercitationem laboriosam facere iste vero corrupti pariatur cupiditate. Distinctio,
                                nesciunt.</div>
                            <div class="remove-btn">remove address</div>
                        </div>
                    </div>
                    <form action="">
                        <label for="" class="title">edit</label>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="">first name</label>
                                <input type="text" name="" id="">
                            </div>
                            <div class="col-md-6">
                                <label for="">last name</label>
                                <input type="text" name="" id="">
                            </div>
                            <div class="col-md-6">
                                <label for="">mobile number</label>
                                <input type="text" name="" id="">
                            </div>
                            <div class="col-md-6">
                                <label for="">pincode</label>
                                <input type="text" name="" id="">
                            </div>
                            <div class="col-md-6">
                                <label for="">house/plot no.</label>
                                <input type="text" name="" id="">
                            </div>
                            <div class="col-md-6">
                                <label for="">street/locality/area</label>
                                <input type="text" name="" id="">
                            </div>
                            <div class="col-md-6">
                                <label for="">city</label>
                                <select>
                                    <option selected>mumbai</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label for="">state</label>
                                <select>
                                    <option selected>maharashtra</option>
                                </select>
                            </div>
                            <div class="col-md-2 checkbox">
                                <input type="radio" name="address" id="home">
                                <label for="home">home</label>
                            </div>
                            <div class="col-md-2 checkbox">
                                <input type="radio" name="address" id="office">
                                <label for="office">office</label>
                            </div>
                            <div class="col-md-2 checkbox">
                                <input type="radio" name="address" id="other">
                                <label for="other">other</label>
                            </div>
                        </div>
                        <div class="submit">
                            <a type="">cancel</a>
                            <button type="submit">save address</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <div class="payments">
                    <nav>
                        <div class="nav" id="nav-tab" role="tablist">
                            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
                                aria-selected="true">wallet</button>
                            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile"
                                aria-selected="false">save cards</button>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                            aria-labelledby="nav-home-tab">
                            <div class="wallet">
                                <div class="row d-flex justify-content-evenly">
                                    <div class="col-md-5">
                                        <div class="card">
                                            <div class="card-head">sai jewels wallet</div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="col-md-6 m-auto">
                                                            <p class="text">balance amount in sai jewellers wallet </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h6>RS.<span>0</span></h6>
                                                <div class="add-text">
                                                    <p>select amount to add in wallet</p>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4"><button class="amount-btn">500</button></div>
                                                    <div class="col-md-4"><button class="amount-btn">1000</button></div>
                                                    <div class="col-md-4"><button class="amount-btn">1500</button></div>
                                                    <div class="col-md-4"><button class="amount-btn">2000</button></div>
                                                    <div class="col-md-4"><button class="amount-btn">2500</button></div>
                                                    <div class="col-md-4"><button class="amount-btn">3000</button></div>
                                                </div>
                                                <div class="submit">
                                                    <button class="btn" type="submit">add amount</button>
                                                </div>
                                                <div class="terms"><a href="">*terms & conditions </a></div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="hr"></div> -->
                                    <div class="col-md-5">
                                        <div class="card">
                                            <div class="card-head">sai jewels wallet</div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="col-md-6 m-auto">
                                                            <p class="text">balance amount in sai jewellers wallet </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h6>RS.<span>0</span></h6>
                                                <div class="add-text">
                                                    <p>select amount to add in wallet</p>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4"><button class="amount-btn">500</button></div>
                                                    <div class="col-md-4"><button class="amount-btn">1000</button></div>
                                                    <div class="col-md-4"><button class="amount-btn">1500</button></div>
                                                    <div class="col-md-4"><button class="amount-btn">2000</button></div>
                                                    <div class="col-md-4"><button class="amount-btn">2500</button></div>
                                                    <div class="col-md-4"><button class="amount-btn">3000</button></div>
                                                </div>
                                                <div class="submit">
                                                    <button class="btn" type="submit">add amount</button>
                                                </div>
                                                <div class="terms"><a href="">*terms & conditions </a></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="view-detail">
                                            <a class="btn">view details</a>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="view-detail">
                                            <a class="btn">view details</a>
                                        </div>
                                    </div>
                                </div>

                                <table class="table table-bordered">
                                    <thead>
                                        <tr class="head">
                                            <td colspan="6">transaction history</td>
                                        </tr>
                                    </thead>
                                    <thead>
                                        <tr>
                                            <th>source</th>
                                            <th>credit</th>
                                            <th>debit</th>
                                            <th>transaction date</th>
                                            <th>expiry date</th>
                                            <th>balance</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>purchase-654986</td>
                                            <td></td>
                                            <td> -50</td>
                                            <td>2020-2-2</td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>purchase-654986</td>
                                            <td></td>
                                            <td> -50</td>
                                            <td>2020-2-2</td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <div class="saved-card">
                                <div class="top">
                                    <h4>saved cards</h4>
                                    <a href="">add new card</a>
                                </div>
                                <div class="active-card">
                                    <div class="col-md-8">
                                        <div class="card">
                                            <div class="top">
                                                <div class="comp">
                                                    <img src="../../../assets/user/visa.png" alt="">
                                                    <a>DC</a>
                                                </div>
                                                <div class="expirey">
                                                    <p><span class="text-muted">expirey: </span>10/2025</p>
                                                </div>
                                            </div>
                                            <div class="bot">
                                                <p>9876543219871</p>
                                                <div class="icon">
                                                    <i class="bi bi-trash-fill"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <form action="">
                                    <div class="row">
                                        <div class="col-md-12 d-flex">
                                            <div class="group">
                                                <input type="radio" name="card" id="credit">
                                                <label for="credit">credit card</label>
                                            </div>
                                            <div class="group">
                                                <input type="radio" name="card" id="debit">
                                                <label for="debit">debit card</label>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <input type="text" name="" id="" placeholder="card number">
                                        </div>
                                        <div class="col-md-12">
                                            <div class="row my-4">
                                                <div class="col-md-6"><label for="">expiry month & year</label></div>
                                                <div class="col-md-6"><label for="">name on card</label></div>
                                                <div class="col-md-3"><select name="" id="">
                                                        <option value="MM" selected>MM</option>
                                                    </select></div>
                                                <div class="col-md-3"><select name="" id="">
                                                        <option value="YY" selected>YY</option>
                                                    </select></div>
                                                <div class="col-md-6"><input type="text" name="" id=""></div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="btns">
                                                <a>cancel</a>
                                                <button class="">save this card</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="contact2" role="tabpanel" aria-labelledby="contact-tab2">
                <div class="change-password">
                    <form action="">
                        <label for="" class="title">address book</label>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="col-md-12">
                                    <label for="">current password</label>
                                    <div class="input-grp"><input type="password" name="" id=""></div>
                                </div>
                                <div class="col-md-12">
                                    <label for="">new password</label>
                                    <div class="input-grp">
                                        <input [type]="eye1 ? 'text' : 'password'" name="" id="">
                                        <i class="fa" [ngClass]="{
                                          'fa-eye-slash': !eye1,
                                          'fa-eye': eye1
                                        }" (click)="toggleEye1()"></i>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <label for="">confirm password</label>
                                    <div class="input-grp">
                                        <input [type]="eye2 ? 'text' : 'password'" name="" id="">
                                        <i class="fa" [ngClass]="{
                                          'fa-eye-slash': !eye2,
                                          'fa-eye': eye2
                                        }" (click)="toggleEye2()"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="submit">
                            <button type="submit">change password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>