<footer *ngFor="let f of masterSet.footer">
    <section class="subscribe">
        <div class="container">
            <div class="row">
                <div class="col-md-8 d-flex align-items-center justify-content-end">
                    <div class="row">
                        <div class="
                sub-now
                col-md-12
                d-flex
                justify-content-end
                align-items-center
              ">
                            <p class="m-0">Sign Up for Our Offer Updates:</p>
                            <div class="btn-group">
                                <input type="text" name="" id="" placeholder="Enter Your Name" />
                                <button class="p-btn">Subscribe Now</button>
                            </div>
                        </div>
                        <div class="know-more col-md-12">
                            <p class="m-0 text-end">
                                <span>Know More </span> about Premium Jewellers
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="img">
                        <img [src]="f.img" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3" *ngFor="let link of f.links">
                    <ul [class]="link.class">
                        <li class="title">{{ link.title }}</li>
                        <ul>
                            <li class="link" *ngFor="let s of link.sublinks">
                                <a href="" [routerLink]="s.route">{{ s.name }}</a>
                            </li>
                        </ul>
                    </ul>
                </div>
                <div class="col-md-3" *ngFor="let link of f.socialLinks">
                    <ul [class]="link.class">
                        <li class="title">{{ link.title }}</li>
                        <ul>
                            <li class="link" *ngFor="let s of link.sublinks">
                                <a href="" [routerLink]="s.route"><i [class]="s.name"></i></a>
                            </li>
                        </ul>
                    </ul>
                </div>
                <!-- <div class="col-md-3">
                    <ul class="company">
                        <li class="title">Our Company</li>
                        <li class="link"><a href="">World Of Tiffany</a></li>
                        <li class="link"><a href="">Sustainability</a></li>
                        <li class="link"><a href="">CA Supply Chains ACT</a></li>
                        <li class="link"><a href="">Investors</a></li>
                        <li class="link"><a href="">Tiffany Careers</a></li>
                        <li class="link"><a href="">Website Policies</a></li>
                        <li class="link"><a href="">California Privacy</a></li>
                        <li class="link"><a href="">Do Not Sell My Info</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="tiffany">
                        <li class="title">Related Tiffany Sites</li>
                        <li class="link"><a href="">Wedding & Gift Registry</a></li>
                        <li class="link"><a href="">Business Accounts</a></li>
                        <li class="link"><a href="">Tiffany For The Press</a></li>
                        <li class="link"><a href="">The Tiffany & Co. Foundation</a></li>
                        <li class="link"><a href="">Site Index</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="social">
                        <li class="title">Follow Us On</li>
                        <ul>
                            <li class="link"><a href=""><i class="fa fa-facebook"></i></a></li>
                            <li class="link"><a href=""><i class="fa fa-youtube-play"></i></a></li>
                            <li class="link"><a href=""><i class="fa fa-twitter"></i></a></li>
                            <li class="link"><a href=""><i class="fa fa-pinterest"></i></a></li>
                            <li class="link"><a href=""><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </ul>
                </div> -->
            </div>
        </div>
    </section>
    <div class="col-md-12">
        <hr />
    </div>
    <div class="copy-rights">
        <div class="container">
            <p class="text-center"> © 2020 <span>PREMIUM JEWELLERS.</span> All Rights Reserved </p>
        </div>
    </div>
</footer>