<section class="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center text-light">
                    <h2 class="mx-auto">your favourite designs at your doorstep!</h2>
                    <div class="btn-group">
                        <i class="bi bi-geo-alt"></i>
                        <input type="text" name="" id="" placeholder="Enter Pincode">
                        <button class="btn pi-btn">find store near you</button>
                    </div>
                    <div class="play">
                        <a href=""><i class="fa fa-play"></i></a>
                        <a href="">see how it works</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="special-cards">
    <div class="container">
        <div class="row">
            <div class="col-md-6 cards">
                <div class="card mb-3">
                    <div class="row g-0 h-100">
                        <div class="col-md-5 d-flex align-items-center justify-content-center">
                            <div class="p-4 img-fluid rounded-start"></div>
                            <!-- <img src="" class="p-4 img-fluid rounded-start" alt="..."> -->
                        </div>
                        <div class="col-md-7 d-flex align-items-center">
                            <div class="card-body">
                                <h5 class="card-title">ensure the perfect fit </h5>
                                <p class="card-text">always</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 cards">
                <div class="card mb-3">
                    <div class="row g-0 h-100">
                        <div class="col-md-4 d-flex align-items-center justify-content-center">
                            <img src="../../assets/house/card2.png" class="p-4 img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8 d-flex align-items-center">
                            <div class="card-body">
                                <h5 class="card-title">give her the gift of choice!</h5>
                                <p class="card-text">book a surprise try at home and let her pick from 5 stunning
                                    designs.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="delivery">
    <div class="container">
        <div class="heading">
            <div class="title">
                <h3 class="m-auto mb-3 text-capitalize">it doesn't get easier than this!</h3>
                <p class="text-capitalize text-center">it's free and there's no obligation to buy!</p>
            </div>
        </div>
        <div class="box">
            <div class="row">
                <div class="col-md-3" *ngFor="let c of delivery">
                    <div class="card-body">
                        <div class="icon">
                            <i [class]="c.icon"></i>
                        </div>
                        <div class="title">
                            <h4>{{c.title}}</h4>
                        </div>
                        <div class="text">
                            <p>{{c.text}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="locate">
    <div class="container">
        <div class="col-lg-3 mx-auto">
            <div class="box text-center">
                <p>pick from our bestsellers</p>
                <div class="inp-group">
                    <i class="bi bi-geo-alt p-2"></i>
                    <input type="text" name="" id="" placeholder="Enter Pincode">
                </div>
                <div class="submit">
                    <button class="btn pi-btn">submit</button>
                </div>
                <div class="link">
                    <a href="">locate me</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="reviews">
    <div class="container">
        <div class="heading">
            <div class="title">
                <h3 class="m-auto mb-4 text-capitalize">hear it from our customer</h3>
            </div>
        </div>
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide *ngFor="let cust of customers">
                <div class="box">
                    <div class="col-md-5 mx-auto text-center">
                        <div class="content">
                            <div class="img mb-3">
                                <img class="w-auto m-auto" src="../../assets/house/quote.png" alt="">
                            </div>
                            <p> {{cust.comment}} </p>
                            <h4 class="text-capitalize">{{cust.name}}</h4>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</section>
<section class="faqs">
    <div class="container">
        <div class="box">
            <div class="heading">
                <div class="title">
                    <h3 class="m-auto mb-3 text-capitalize">have some questions?</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <h5 class="text-capitalize">frequently asked questions</h5>
                        <img class="my-3" src="../../assets/house/faq.png" alt="">
                        <p class="text-capitalize m-0">just give us a call at 1820-097-8452 </p>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseOne" aria-expanded="false"
                                    aria-controls="flush-collapseOne">
                                    What is Try at Home?
                                </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Soluta velit quod eos qui sint incidunt odit molestiae numquam ullam?
                                        Repudiandae
                                        nam quos deserunt quaerat tenetur porro. Obcaecati suscipit at deleniti?</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                    aria-controls="flush-collapseTwo">
                                    What is Try at Home?
                                </button>
                            </h2>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Soluta velit quod eos qui sint incidunt odit molestiae numquam ullam?
                                        Repudiandae
                                        nam quos deserunt quaerat tenetur porro. Obcaecati suscipit at deleniti?</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseThree" aria-expanded="false"
                                    aria-controls="flush-collapseThree">
                                    What is Try at Home?
                                </button>
                            </h2>
                            <div id="flush-collapseThree" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Soluta velit quod eos qui sint incidunt odit molestiae numquam ullam?
                                        Repudiandae
                                        nam quos deserunt quaerat tenetur porro. Obcaecati suscipit at deleniti?</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingfour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapsefour" aria-expanded="false"
                                    aria-controls="flush-collapsefour">
                                    What is Try at Home?
                                </button>
                            </h2>
                            <div id="flush-collapsefour" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingfour" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Soluta velit quod eos qui sint incidunt odit molestiae numquam ullam?
                                        Repudiandae
                                        nam quos deserunt quaerat tenetur porro. Obcaecati suscipit at deleniti?</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingfive">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapsefive" aria-expanded="false"
                                    aria-controls="flush-collapsefive">
                                    What is Try at Home?
                                </button>
                            </h2>
                            <div id="flush-collapsefive" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingfive" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Soluta velit quod eos qui sint incidunt odit molestiae numquam ullam?
                                        Repudiandae
                                        nam quos deserunt quaerat tenetur porro. Obcaecati suscipit at deleniti?</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingsix">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapsesix" aria-expanded="false"
                                    aria-controls="flush-collapsesix">
                                    What is Try at Home?
                                </button>
                            </h2>
                            <div id="flush-collapsesix" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingsix" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Soluta velit quod eos qui sint incidunt odit molestiae numquam ullam?
                                        Repudiandae
                                        nam quos deserunt quaerat tenetur porro. Obcaecati suscipit at deleniti?</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingseven">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseseven" aria-expanded="false"
                                    aria-controls="flush-collapseseven">
                                    What is Try at Home?
                                </button>
                            </h2>
                            <div id="flush-collapseseven" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingseven" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Soluta velit quod eos qui sint incidunt odit molestiae numquam ullam?
                                        Repudiandae
                                        nam quos deserunt quaerat tenetur porro. Obcaecati suscipit at deleniti?</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingeight">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseeight" aria-expanded="false"
                                    aria-controls="flush-collapseeight">
                                    What is Try at Home?
                                </button>
                            </h2>
                            <div id="flush-collapseeight" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingeight" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Soluta velit quod eos qui sint incidunt odit molestiae numquam ullam?
                                        Repudiandae
                                        nam quos deserunt quaerat tenetur porro. Obcaecati suscipit at deleniti?</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingnine">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapsenine" aria-expanded="false"
                                    aria-controls="flush-collapsenine">
                                    What is Try at Home?
                                </button>
                            </h2>
                            <div id="flush-collapsenine" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingnine" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Soluta velit quod eos qui sint incidunt odit molestiae numquam ullam?
                                        Repudiandae
                                        nam quos deserunt quaerat tenetur porro. Obcaecati suscipit at deleniti?</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>