<div class="container">
    <section class="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Library</a></li>
            <li class="breadcrumb-item active" aria-current="page">Data</li>
        </ol>
    </section>
    <section class="offer">
        <div class="img">
            <img src="../../../assets/user/products/offer1.png" alt="">
        </div>
    </section>
    <section class="filters">
        <div class="row">
            <div class="col-md-10">
                <div class="filter_by">
                    <div class="head">
                        <h5>filter by</h5><span>ring<span><i class="bi bi-x"></i></span></span>
                    </div>
                    <div class="options">
                        <select class="" aria-label="Default select example" *ngFor="let filter of filters">
                            <option selected>{{filter.title}}</option>
                            <option *ngFor="let option of filter.options">{{option}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="sort_by">
                    <div class="head">
                        <h5>sort by</h5>
                    </div>
                    <div class="options">
                        <select class="" aria-label="Default select example" *ngFor="let filter of sort_by">
                            <option selected>{{filter.title}}</option>
                            <option *ngFor="let option of filter.options">{{option}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="list_product">
        <div class="box">
            <div class="row">
                <product-card *ngFor="let product of products" [product]="product"></product-card>
            </div>
        </div>
    </section>
</div>