.basic-detail .product_name {
  text-transform: capitalize;
  border-bottom: 3px solid var(--primary-color);
  margin-bottom: 15px;
  padding-bottom: 7px;
}
.basic-detail .product_name p {
  font-size: 12px;
  color: var(--primary-color);
  margin: 0;
  font-weight: 600;
}
.basic-detail .product_name p span {
  color: #777;
  padding: 0px 5px;
  font-weight: normal;
}
.basic-detail .product_name .share i:nth-child(1) {
  padding: 5px;
  border-radius: 50%;
  border: 1px solid var(--primary-color);
  margin: 0px 10px;
  color: #999;
  font-size: 20px;
}
.basic-detail .product_name .share i:nth-child(2) {
  border: 1px solid var(--primary-color);
  padding: 5px;
  border-radius: 50%;
  font-size: 18px;
  color: #fff;
  background: var(--primary-color);
}
.basic-detail .price {
  display: flex;
  align-items: center;
  grid-gap: 25px;
  margin-bottom: 10px;
}
.basic-detail .price .discounted_price {
  font-weight: 500;
  font-size: 18px;
}
.basic-detail .price .mrp {
  font-size: 16px;
  font-weight: 500;
  text-decoration: line-through;
  color: #999;
}
.basic-detail .variant > div > div:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.basic-detail .variant > div > div:nth-child(1) a {
  font-size: 14px;
  color: #000;
  font-weight: 500;
}
.basic-detail .variant > div > div:nth-child(1) .feature {
  display: flex;
  grid-gap: 25px;
  align-items: center;
  text-transform: capitalize;
  font-size: 16px;
}
.basic-detail .variant > div > div:nth-child(1) .feature span:nth-child(2) i {
  font-size: 13px;
  margin: 0px 4px;
}
.basic-detail .variant > div > div:nth-child(3) p {
  font-size: 14px;
  margin: 10px 0px;
  text-transform: capitalize;
}
.basic-detail .variant > div > div:nth-child(3) p span {
  color: var(--primary-color);
}
.basic-detail .variant > div > div:nth-child(4) > div > div:nth-child(1) {
  display: flex;
  align-items: center;
  grid-gap: 10px;
}
.basic-detail .variant > div > div:nth-child(4) > div > div:nth-child(1) label {
  font-size: 14px;
  text-transform: capitalize;
}
.basic-detail
  .variant
  > div
  > div:nth-child(4)
  > div
  > div:nth-child(1)
  .input-group {
  width: auto;
  border: 1px solid var(--primary-color);
  background: var(--primary-color);
  display: flex;
  align-items: center;
  border-radius: 3px;
}
.basic-detail
  .variant
  > div
  > div:nth-child(4)
  > div
  > div:nth-child(1)
  .input-group
  input {
  width: fit-content;
  outline: none;
  border: none;
  padding: 1px 0px 1px 6px;
}
.basic-detail
  .variant
  > div
  > div:nth-child(4)
  > div
  > div:nth-child(1)
  .input-group
  a {
  background: transparent;
  color: #fff;
  padding: 0px 5px 0px 5px;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 500;
}
.basic-detail .variant > div > div:nth-child(4) > div > div:nth-child(2) {
  display: flex;
  align-items: center;
  grid-gap: 10px;
}
.basic-detail .variant > div > div:nth-child(4) > div > div:nth-child(2) label {
  font-size: 14px;
  text-transform: capitalize;
}
.basic-detail
  .variant
  > div
  > div:nth-child(4)
  > div
  > div:nth-child(2)
  select {
  color: #fff;
  background: var(--primary-color);
  outline: none;
  border: 0;
  padding: 3px 3px;
  border-radius: 3px;
}
.basic-detail .variant > div > div:nth-child(4) > div > div:nth-child(2) span {
  text-transform: capitalize;
  font-size: 14px;
}
.basic-detail .variant > div > div:nth-child(5) {
  margin: 10px 0px;
}
.basic-detail .variant > div > div:nth-child(5) > div > div:nth-child(1) span {
  text-transform: capitalize;
  font-size: 14px;
}
.basic-detail
  .variant
  > div
  > div:nth-child(5)
  > div
  > div:nth-child(1)
  span
  span {
  font-size: 12px;
  color: #777;
}
.basic-detail .variant > div > div:nth-child(5) > div > div:nth-child(2) span {
  font-size: 12px;
  color: var(--primary-color);
  display: flex;
  text-transform: capitalize;
}
.basic-detail .variant > div > div:nth-child(6) {
  margin: 10px 0px;
}
.basic-detail .variant > div > div:nth-child(6) a {
  font-size: 14px;
  text-transform: capitalize;
  text-decoration: underline;
  color: #000;
  font-weight: 300;
}
.basic-detail .variant > div > div:nth-child(7) {
  margin: 10px 0px;
}
.basic-detail .variant > div > div:nth-child(7) .p_shortdetail {
  background: #cccccc5c;
  padding: 15px;
  border-radius: 5px;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 300;
}
.basic-detail .variant > div > div:nth-child(7) .p_shortdetail p {
  font-weight: 400;
}
.basic-detail .variant > div > div:nth-child(7) .p_shortdetail p span {
  font-weight: 300;
}
.basic-detail .variant > div > div:nth-child(7) .p_shortdetail a {
  color: var(--primary-color);
}
.basic-detail .variant > div > div:nth-child(8) {
  margin: 10px 0px;
}
.basic-detail .variant > div > div:nth-child(8) .related_p_title {
  border-bottom: 3px solid #999;
  padding: 10px 0px;
}
.basic-detail .variant > div > div:nth-child(10) {
  padding: 10px 0px;
}
.basic-detail .variant > div > div:nth-child(10) .buttons {
  display: flex;
  grid-gap: 15px;
}
.basic-detail .variant > div > div:nth-child(10) .buttons button:nth-child(1),
.basic-detail .variant > div > div:nth-child(10) .buttons button:nth-child(3) {
  border: 1px solid #ffb436;
  border-radius: 25px;
  text-transform: uppercase;
  box-shadow: inset 0px 0px 15px #cccccc94;
  font-weight: 500;
  transition: box-shadow 0.5s ease-in-out;
  /* transition: ; */
}
.basic-detail .variant > div > div:nth-child(10) .buttons button:nth-child(2) {
  border: 1px solid #ffb436;
  border-radius: 25px;
  text-transform: uppercase;
  color: #fff;
  /* box-shadow: 1px 4px 10px #ccc; */
  background: radial-gradient(
    circle,
    rgba(133, 23, 83, 1) 0%,
    rgba(67, 12, 42, 1) 100%
  );
  font-weight: 500;
  transition: transform 0.5s;
  transition: box-shadow 0.5s;
}
.basic-detail
  .variant
  > div
  > div:nth-child(10)
  .buttons
  button:nth-child(1):hover,
.basic-detail
  .variant
  > div
  > div:nth-child(10)
  .buttons
  button:nth-child(2):hover,
.basic-detail
  .variant
  > div
  > div:nth-child(10)
  .buttons
  button:nth-child(3):hover {
  box-shadow: 1px 4px 10px #ccc;
  transform: translateY(-5px);
  transition: transform 0.5s, box-shadow 0.5s ease-in-out;
}
.basic-detail .variant > div > div:nth-child(9) .accordion .accordion-item {
  border-bottom: 3px solid #aaa;
}
.basic-detail .variant > div > div:nth-child(9) .accordion .accordion-item h6 {
  display: flex;
  justify-content: space-between;
}
.basic-detail
  .variant
  > div
  > div:nth-child(9)
  .accordion
  .accordion-item
  h6
  a {
  color: #000;
  text-transform: capitalize;
  position: relative;
}
.basic-detail.variant
  > div
  > div:nth-child(9)
  .accordion
  .accordion-item
  h6
  a::after {
  content: "&#xf067;";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
