.heading .title {
  margin: 25px 0px;
}

.heading .title h2 {
  position: relative;
  text-transform: uppercase;
  width: fit-content;
}

.heading .title h2::after {
  position: absolute;
  content: "";
  left: 50%;
  bottom: 0;
  height: 2px;
  width: 40%;
  background: var(--primary-color);
  transform: translateX(-50%);
}
.basic-detail .product_name {
  text-transform: capitalize;
  border-bottom: 3px solid var(--primary-color);
  margin-bottom: 15px;
  padding-bottom: 7px;
}
.basic-detail .product_name p {
  font-size: 12px;
  color: var(--primary-color);
  margin: 0;
  font-weight: 600;
}
.basic-detail .product_name p span {
  color: #777;
  padding: 0px 5px;
  font-weight: normal;
}
.basic-detail .product_name .share i:nth-child(1) {
  padding: 5px 6px;
  border-radius: 50%;
  border: 1px solid var(--primary-color);
  margin: 0px 10px;
  color: #999;
  font-size: 20px;
}
.basic-detail .product_name .share i:nth-child(2) {
  border: 1px solid var(--primary-color);
  padding: 5px;
  border-radius: 50%;
  font-size: 18px;
  color: #fff;
  background: var(--primary-color);
}
.basic-detail .price {
  display: flex;
  align-items: center;
  grid-gap: 25px;
  margin-bottom: 10px;
}
.basic-detail .price .discounted_price {
  font-weight: 500;
  font-size: 18px;
}
.basic-detail .price .mrp {
  font-size: 16px;
  font-weight: 500;
  text-decoration: line-through;
  color: #999;
}
.basic-detail .variant > div > div:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.basic-detail .variant > div > div:nth-child(1) a {
  font-size: 14px;
  color: #000;
  font-weight: 500;
}
.basic-detail .variant > div > div:nth-child(1) .feature {
  display: flex;
  grid-gap: 25px;
  align-items: center;
  text-transform: capitalize;
  font-size: 16px;
}
.basic-detail .variant > div > div:nth-child(1) .feature span:nth-child(2) i {
  font-size: 13px;
  margin: 0px 4px;
}
/* .basic-detail .variant > div > div:nth-child(2) {
  margin: 10px 0px;
} */
.basic-detail .variant > div > div:nth-child(2) .cards {
  display: flex;
  border: 0;
  background: #ccc;
  align-items: center;
  flex-flow: row;
  padding: 10px;
}
.basic-detail .variant > div > div:nth-child(2) .cards .img img {
  width: 100%;
  padding-right: 10px;
}
.basic-detail .variant > div > div:nth-child(2) .cards .desc p {
  margin: 0;
  text-transform: capitalize;
  font-size: 20px;
}

.basic-detail .variant > div > div:nth-child(3) p {
  font-size: 14px;
  margin: 10px 0px;
  text-transform: capitalize;
}
.basic-detail .variant > div > div:nth-child(3) p span {
  color: var(--primary-color);
}
.basic-detail .variant > div > div:nth-child(4) > div > div:nth-child(1) {
  display: flex;
  align-items: center;
  grid-gap: 10px;
}
.basic-detail .variant > div > div:nth-child(4) > div > div:nth-child(1) label {
  font-size: 14px;
  text-transform: capitalize;
}
.basic-detail
  .variant
  > div
  > div:nth-child(4)
  > div
  > div:nth-child(1)
  .input-group {
  width: auto;
  border: 1px solid var(--primary-color);
  background: var(--primary-color);
  display: flex;
  align-items: center;
  border-radius: 3px;
}
.basic-detail
  .variant
  > div
  > div:nth-child(4)
  > div
  > div:nth-child(1)
  .input-group
  input {
  width: fit-content;
  outline: none;
  border: none;
  padding: 1px 0px 1px 6px;
}
.basic-detail
  .variant
  > div
  > div:nth-child(4)
  > div
  > div:nth-child(1)
  .input-group
  a {
  background: transparent;
  color: #fff;
  padding: 0px 5px 0px 5px;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 500;
}
.basic-detail .variant > div > div:nth-child(4) > div > div:nth-child(2) {
  display: flex;
  align-items: center;
  grid-gap: 10px;
}
.basic-detail .variant > div > div:nth-child(4) > div > div:nth-child(2) label {
  font-size: 14px;
  text-transform: capitalize;
}
.basic-detail
  .variant
  > div
  > div:nth-child(4)
  > div
  > div:nth-child(2)
  select {
  color: #fff;
  background: var(--primary-color);
  outline: none;
  border: 0;
  padding: 3px 3px;
  border-radius: 3px;
}
.basic-detail .variant > div > div:nth-child(4) > div > div:nth-child(2) span {
  text-transform: capitalize;
  font-size: 14px;
}
.basic-detail .variant > div > div:nth-child(5) {
  margin: 10px 0px;
}
.basic-detail .variant > div > div:nth-child(5) > div > div:nth-child(1) span {
  text-transform: capitalize;
  font-size: 14px;
}
.basic-detail
  .variant
  > div
  > div:nth-child(5)
  > div
  > div:nth-child(1)
  span
  span {
  font-size: 12px;
  color: #777;
}
.basic-detail .variant > div > div:nth-child(5) > div > div:nth-child(2) span {
  font-size: 12px;
  color: var(--primary-color);
  display: flex;
  text-transform: capitalize;
}
.basic-detail .variant > div > div:nth-child(6) {
  margin: 10px 0px;
}
.basic-detail .variant > div > div:nth-child(6) a {
  font-size: 14px;
  text-transform: capitalize;
  text-decoration: underline;
  color: #000;
  font-weight: 300;
}
.basic-detail .variant > div > div:nth-child(7) {
  margin-bottom: 10px;
}
.basic-detail .variant > div > div:nth-child(7) .p_shortdetail {
  background: #cccccc5c;
  padding: 15px;
  border-radius: 5px;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 300;
}
.basic-detail .variant > div > div:nth-child(7) .p_shortdetail p {
  font-weight: 400;
}
.basic-detail .variant > div > div:nth-child(7) .p_shortdetail p span {
  font-weight: 300;
}
.basic-detail .variant > div > div:nth-child(7) .p_shortdetail a {
  color: var(--primary-color);
}
/* .basic-detail .variant > div > div:nth-child(8) {
  margin: 10px 0px;
} */
.basic-detail .variant > div > div:nth-child(8) .related_p_title {
  border-bottom: 2px solid #aaa;
  border-bottom-style: dashed;
  padding: 10px 0;
}
.basic-detail .variant > div > div:nth-child(9) .accordion .accordion-item {
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  margin: 10px 0px;
}
.basic-detail
  .variant
  > div
  > div:nth-child(9)
  .accordion
  .accordion-item
  .card-body
  p {
  border-top: 2px solid #ccc;
  border-top-style: dashed;
  margin: 0;
  padding: 10px 0px 0px 0px;
}
.basic-detail .variant > div > div:nth-child(9) .accordion .accordion-item h6 {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 10px 10px;
}
.basic-detail
  .variant
  > div
  > div:nth-child(9)
  .accordion
  .accordion-item
  h6
  a {
  color: #000;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.basic-detail
  .variant
  > div
  > div:nth-child(9)
  .accordion
  .accordion-item
  h6
  a
  i:nth-child(1) {
  padding: 0 2px;
  font-style: normal;
  display: flex;
  align-items: center;
  grid-gap: 5px;
  color: #555;
}
.basic-detail
  .variant
  > div
  > div:nth-child(9)
  .accordion
  .accordion-item
  h6
  a:not(.collapsed)i:nth-child(2) {
  display: block;
  font-size: 20px;
}
.basic-detail
  .variant
  > div
  > div:nth-child(9)
  .accordion
  .accordion-item
  h6
  a:not(.collapsed)i:nth-child(3) {
  display: none;
}
.basic-detail
  .variant
  > div
  > div:nth-child(9)
  .accordion
  .accordion-item
  h6
  a
  i:nth-child(2) {
  display: none;
}
.basic-detail
  .variant
  > div
  > div:nth-child(9)
  .accordion
  .accordion-item
  h6
  a
  i:nth-child(3) {
  display: block;
  color: #555;
  font-size: 20px;
}
.basic-detail .variant > div > div:nth-child(10) {
  padding: 10px;
}
.basic-detail .variant > div > div:nth-child(10) .buttons {
  display: flex;
  grid-gap: 15px;
}
.basic-detail .variant > div > div:nth-child(10) .buttons button:nth-child(1),
.basic-detail .variant > div > div:nth-child(10) .buttons button:nth-child(3) {
  border: 1px solid #ffb436;
  border-radius: 25px;
  text-transform: capitalize;
  box-shadow: inset 0 0 15px #cccccc94;
  transition: box-shadow 0.5s ease-in-out;
  font-size: 16px;
  padding: 10px 25px;
}
.basic-detail .variant > div > div:nth-child(10) .buttons button:nth-child(2) {
  border: 1px solid #ffb436;
  border-radius: 25px;
  text-transform: capitalize;
  color: #fff;
  background: radial-gradient(
    circle,
    rgba(133, 23, 83, 1) 0%,
    rgba(67, 12, 42, 1) 100%
  );
  /* font-weight: 500; */
  transition: transform 0.5s;
  transition: box-shadow 0.5s;
  font-size: 16px;
  padding: 10px 25px;
}
.basic-detail
  .variant
  > div
  > div:nth-child(10)
  .buttons
  button:nth-child(1):hover,
.basic-detail
  .variant
  > div
  > div:nth-child(10)
  .buttons
  button:nth-child(2):hover,
.basic-detail
  .variant
  > div
  > div:nth-child(10)
  .buttons
  button:nth-child(3):hover {
  box-shadow: 1px 4px 10px #ccc;
  transform: translateY(-5px);
  transition: transform 0.5s, box-shadow 0.5s ease-in-out;
}
.services {
  margin: 25px 0px;
}
.services > div > div {
  border-right: 2px solid #aaaa;
}
.services > div > div:nth-last-child(-n + 1) {
  border-right: 0;
}
.services .card {
  display: flex;
  border: 0;
  align-items: center;
  flex-flow: row;
  padding: 10px;
}
.services .card .img img {
  width: 100%;
  padding-right: 10px;
}
.services .card .desc p {
  margin: 0;
  text-transform: capitalize;
  font-size: 20px;
}
.product-detail {
  margin: 10px 0px;
}
.product-detail .detail-table {
  padding: 25px;
  background: #eee;
  text-transform: capitalize;
  height: 100%;
}
.product-detail .detail-table table {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
.product-detail .detail-table table tbody {
  display: inline;
}
.product-detail .detail-table table tbody tr {
  display: inline-grid;
  width: 100%;
  margin: 5px 0px;
}
.product-detail .detail-table table tbody tr th {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-bottom: 2px solid var(--primary-bg);
  margin: 0px 0px 5px 0px;
  font-weight: 500;
  font-size: 17px;
}
.product-detail .detail-table table tbody tr td {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  font-weight: 300;
  font-size: 15px;
}
.product-detail .detail-table table tbody tr td:nth-last-child(-n + 1) {
  font-weight: 400;
  border-bottom: 2px solid #ccc;
  padding: 4px 0px;
}
.product-detail .detail-table table p {
  margin: 10px 5px;
  font-size: 14px;
}
.product-detail .detail-table table p span {
  color: var(--primary-bg);
  font-weight: 500;
}
.product-detail .query {
  padding: 25px;
  background: #eee;
  text-transform: capitalize;
}
.product-detail .query .promise {
  border-bottom: 2px solid var(--primary-color);
  border-bottom-style: dashed;
}
.product-detail .query .promise .card {
  display: flex;
  border: 0;
  align-items: center;
  flex-flow: row;
  background: transparent;
  padding: 10px;
  margin: 10px 0px;
}
.product-detail .query .promise .card .img img {
  width: 90%;
  padding-right: 10px;
}
.product-detail .query .promise .card .desc p {
  margin: 0;
  text-transform: capitalize;
  font-size: 14px;
}
.product-detail .query form label {
  font-size: 16px;
  font-weight: 500;
}
.product-detail .query form .form-group {
  padding: 10px 5px;
  display: flex;
  grid-gap: 10px;
  text-transform: capitalize;
}
.product-detail .query form .form-group input {
  border: 0;
  border-bottom: 1px solid var(--primary-color);
  background: transparent;
  width: 100%;
  padding: 0px 3px;
  outline: none;
}
.product-detail .query form .submit button {
  border: 1px solid #ffb436;
  border-radius: 25px;
  text-transform: capitalize;
  color: #fff;
  background: radial-gradient(
    circle,
    rgba(133, 23, 83, 1) 0%,
    rgba(67, 12, 42, 1) 100%
  );
  width: 100%;
  font-size: 16px;
  margin-top: 20px;
}
.product-detail .gurantee {
  padding: 25px 0px;
  background: var(--primary-color);
  color: #fff;
  text-align: center;
}
.product-detail .gurantee h6 {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 500;
}
.product-detail .gurantee p {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}
.story {
  margin: 25px 0px;
}
.story .img img {
  width: -webkit-fill-available;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.story .box {
  height: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.story .box h5 {
  text-transform: capitalize;
  position: relative;
  width: fit-content;
}
.story .box h5::after {
  content: "";
  position: absolute;
  background: var(--primary-color);
  left: 0;
  bottom: -2px;
  height: 1px;
  width: 97%;
}
.near-store {
  margin: 25px 0px;
}
.near-store .map {
  height: 100%;
}
.near-store .map iframe {
  height: 100%;
  width: -webkit-fill-available;
  border-radius: 5px;
  border: 1px solid #eee;
}
.near-store .find-store {
  text-align: center;
}
.near-store .find-store .img img {
}
.near-store .find-store .content h6 {
  text-transform: capitalize;
  font-size: 24px;
}
.near-store .find-store .content a {
  color: var(--primary-color);
  text-transform: capitalize;
}
.near-store .find-store .input-grp {
  width: fit-content;
  margin: auto;
  background: #fff;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
}
.near-store .find-store .input-grp i {
  padding: 5px 10px;
  color: var(--primary-color);
}
.near-store .find-store .input-grp input {
  border: 0;
  outline: none;
  background: transparent;
  padding: 10px 0px;
}
.near-store .find-store .b-search button {
  border: 1px solid #ffb436;
  border-radius: 5px;
  text-transform: capitalize;
  color: #fff;
  background: radial-gradient(
    circle,
    rgba(133, 23, 83, 1) 0%,
    rgba(67, 12, 42, 1) 100%
  );
  font-size: 16px;
  margin-top: 20px;
  padding: 10px 50px;
}
.rating-review {
  margin: 25px 0px;
}
.rating-review .heading .title h4 {
  position: relative;
  text-transform: uppercase;
  width: fit-content;
}

.rating-review .heading .title h4::after {
  position: absolute;
  content: "";
  left: 50%;
  bottom: 0;
  height: 2px;
  width: 40%;
  background: var(--primary-color);
  transform: translateX(-50%);
}
.rating-review .total-rating {
  text-align: center;
  text-transform: capitalize;
}
.rating-review .total-rating .box .stars i {
  padding: 0px 5px;
  color: #fa9901;
  font-size: xx-large;
  font-weight: 700;
}
.rating-review .total-rating .box .rating-star .by-star {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rating-review .total-rating .box .review-count p {
  font-size: 14px;
  color: #555;
  font-weight: 300;
}
.rating-review .total-rating .box .rating-star .by-star .star span {
  font-size: 20px;
  font-weight: 500;
  padding: 0 10px;
  color: #777;
}
.rating-review .total-rating .box .rating-star .by-star .star i {
  padding: 0px 5px;
  color: #fa9901;
  font-weight: 700;
}
.rating-review .total-rating .box .rating-star .by-star .count span {
  font-size: 18px;
  color: #aaa;
}
.rating-review .product-review .hero {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  grid-gap: 10px;
  margin: 10px 0px;
}
.rating-review .product-review .updated {
  text-transform: capitalize;
  font-size: 14px;
}
.rating-review .product-review .hero img {
  width: 40px;
  background: #ccc;
  padding: 5px;
  border-radius: 50%;
}
.rating-review .product-review .star-title {
  display: flex;
  grid-gap: 10px;
  text-transform: capitalize;
  align-items: baseline;
  margin: 5px 0px;
}
.rating-review .product-review .star-title .star i {
  padding: 0px 2px;
  color: #fa9901;
  font-weight: 700;
}
.rating-review .product-review .text p {
  font-size: 14px;
  margin: 0;
}
.rating-review .product-review .p-img img {
  width: -webkit-fill-available;
}
.rating-review .product-review .other-viewed span {
  font-size: 13px;
}
.rating-review .product-review .btns {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  margin: 10px 0px;
}
.rating-review .product-review .btns a:nth-child(1) {
  border: 1px solid #ccc;
  padding: 2px 25px;
  box-shadow: 1px 3px 10px #cccccc8f;
}
.rating-review .product-review .btns a:nth-child(2) {
  padding: 00;
}
.rating-review .product-review .btns .vertical-line {
  border-left: 1px solid #ccc;
  height: 28px;
  margin: 0px 10px;
}
